:root {
  --primary-color: #057a8d;
  --secondary-color: #f1c111;

  --dark-color: #171819;
  --project-bg: #f0f8ff;
  --menu-bg: #0c8195;

  --title-color: #15141a;
  --gray-color: #909090;
  --link-color: #404040;
  --p-color: #666262;

  --h1-font-size: 42px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --p-font-size: 18px;
  --base-font-size: 16px;
  --menu-font-size: 14px;
}
@font-face {
  font-family: sans-serif;
  src: url("poppins.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
section {
  width: 100%;
}
.container {
  width: 90%;
  position: relative;
  margin: 0 auto;
  padding: 100px 0;
}
a {
  text-decoration: none;
  color: var(--link-color);
}
.toggle {
  color: #fff;
  font-size: 25px;
  display: none;
  cursor: pointer;
}
.close {
  cursor: pointer;
  display: none;
}
ul {
  list-style: none;
  display: flex;
}
img {
  width: 100%;
}
a.btn {
  padding: 15px 25px;
  border-radius: 20px;
  text-transform: capitalize;
}
a.trans {
  color: var(--secondary-color) !important;
  border: 3px solid var(--secondary-color) !important;
}
a.trans:hover {
  color: #fff !important;
  background-color: var(--secondary-color) !important;
}
a.white-btn {
  background-color: #fff;
  color: var(--secondary-color);
  line-height: 100px;
  transition-delay: 0.2s;
}
a.white-btn:hover {
  background-color: var(--dark-color);
  color: #fff;
  transition: all 0.5s;
}
h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
  width: 600px;
  text-align: center;
  margin: 100px 0;
}
h3 {
  font-size: var(--h3-font-size);
}
p {
  font-size: var(--p-font-size);
  color: var(--p-color);
  text-transform: capitalize;
}
span {
  color: var(--secondary-color);
}
.item {
  max-width: 450px;
}
.nav {
  height: 15vh;
  background-color: var(--menu-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .container {
  display: flex;
  justify-content: space-between;
}
.logo-text {
  color: #fff;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}
.menu ul li {
  margin-right: 25px;
}
.menu ul li a {
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
}
.menu ul li a:hover {
  color: var(--secondary-color);
}
.home .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  background-image: linear-gradient(170deg, var(--primary-color) 65%, #fff 35%);
}
.hero .col {
  width: 45%;
}
.hero .col .content h1,
.hero .col .content p {
  color: #fff;
}
.about-us {
  padding-bottom: 0;
}
.about .row {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
}
.portfolio {
  background-color: var(--project-bg);
}
.project .heading h2 {
  margin: 0 auto;
  margin-bottom: 100px;
}
.proje-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.item {
  position: relative;
}
.pro-tag {
  width: 90%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pro-tag p {
  font-size: 14px;
}
.pro-tag h3 {
  font-size: 18px;
  color: var(--primary-color);
}
.pro-tag .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial .row {
  display: flex;
  align-items: center;
}

.footer {
  background: var(--dark-color);
}
.row-top,
.row-bottom {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
}
.col-1 h1 {
  color: #fff;
  width: 400px;
}
.row-top .col-2,
.row-top .col-3 {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row-top .col-2 p {
  text-transform: none;
}
.row-top .col-3 {
  justify-content: center;
}
.social li {
  margin-right: 20px;
  font-size: 20px;
}
.social a,
.row-bottom .col-2 li,
.row-bottom .col-1 .dev {
  transition: color 0.3s ease;
}
.social li:hover a {
  color: var(--secondary-color);
}
.row-bottom .col-2 li {
  margin-right: 20px;
  text-transform: capitalize;
  color: var(--p-color);
}
.row-bottom .col-2 li:hover {
  color: var(--secondary-color);
}
.row-bottom .col-1 {
  text-align: center;
}
.row-bottom .col-1 .dev:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

@media screen and (max-width: 1125px) {
  .proje-cont {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 920px) {
  .menu {
    position: absolute;
    left: 50%;
    width: 110%;
    transform: translateX(-50%);
    background-color: var(--menu-bg);
    height: 0;
    overflow: hidden;
    transition: 0.7s ease-in;
    z-index: 100;
  }
  .close {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 25px;
    color: #fff;
    display: block;
  }
  .toggle {
    display: block;
  }
  .show {
    height: 100%;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li {
    margin: 13px 0;
    text-align: center;
  }
  .home .row {
    flex-direction: column;
  }
  .home .row .col {
    width: 70%;
  }
  .testimonial .row {
    flex-direction: column;
  }
  .row-bottom,
  .row-top {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  h2 {
    font-size: 30px;
    text-align: center;
    padding: 0 10px;
  }
  .container {
    padding: 50px 0;
  }
  .heading {
    width: 500px;
  }
  .testimonial .col .parapgraph {
    text-align: center;
  }
  .proje-cont {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .item {
    margin: 0 auto;
  }
  .about .row {
    width: 100%;
  }
  .show {
    height: 150%;
    padding-bottom: 10px;
  }
}
